name: Deploy when getting release tag

on:
  push:
    tags:
      - "v*.*.*"

jobs:

  deploy-github:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.22'

    - name: Test
      run: go test -v ./...

    - name: Cross build
      run: make -j4 cross-build

    - name: Bindist
      run: make -j4 bindist

    - name: Deploy
      uses: softprops/action-gh-release@v2
      with:
        files: |
          build/*.zst
          build/*.zip
